<!DOCTYPE html>
<html lang="en" class="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MiniSAP | Add Staff</title>
  <!-- Tailwind is included -->
  <link rel="stylesheet" href="/css/admin.css?v=1652870200386">
  <!-- Font Awesome -->
  <link rel="shortcut icon" href="img/favicon.svg" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body>

  <div id="app">
    <aside class="aside is-placed-left is-expanded">
      <div class="aside-tools">
        <div>
          <span class="icon"><i class="fa-solid fa-gem"></i></span>
          <b class="font-black">MiniSAP</b>
        </div>
      </div>
      <div class="menu is-menu-main">
        <p class="menu-label">General</p>
        <ul class="menu-list">
          <li class="active">
            <a href="/emp/admin">
              <span class="icon"><i class="fa-solid fa-gauge"></i></span>
              <span class="menu-item-label">Dashboard</span>
            </a>
          </li>
        </ul>
        <p class="menu-label">PROJECT MANAGEMENT</p>
        <ul class="menu-list">
          <li class="--set-active-tables-html">
            <a href="/project/newproject">
              <span class="icon"><i class="fa-solid fa-plus"></i></span>
              <span class="menu-item-label">New Project</span>
            </a>
          </li>
          <li class="--set-active-profile-html">
            <a href="/project/updateproject">
              <span class="icon"><i class="fa-solid fa-pen-to-square"></i></span>
              <span class="menu-item-label">Update Project</span>
            </a>
          </li>
          <li class="--set-active-forms-html">
            <a href="/project/viewproject">
              <span class="icon"><i class="fa-solid fa-list-check"></i></span>
              <span class="menu-item-label">View Projects</span>
            </a>
          </li>
        </ul>
        <p class="menu-label">STAFF MANAGEMENT</p>
        <ul class="menu-list">
          <li class="--set-active-tables-html">
            <a href="/staff/addStaff">
              <span class="icon"><i class="fa-solid fa-user-plus"></i></span>
              <span class="menu-item-label">Add Staff</span>
            </a>
          </li>
          <li class="--set-active-profile-html">
            <a href="/staff/delStaff">
              <span class="icon"><i class="fa-solid fa-user-xmark"></i></span>
              <span class="menu-item-label">Remove Staff</span>
            </a>
          </li>
          <li class="--set-active-profile-html">
            <a href="/staff/updateStaff">
              <span class="icon"><i class="fa-solid fa-user-pen"></i></span>
              <span class="menu-item-label">Update Staff</span>
            </a>
          </li>
          <li class="--set-active-forms-html">
            <a href="/staff/viewStaff">
              <span class="icon"><i class="fa-solid fa-users"></i></span>
              <span class="menu-item-label">View Staff</span>
            </a>
          </li>
        </ul>
        <p class="menu-label">Actions</p>
        <ul class="menu-list">
          <li class="active">
            <a href="/auth/signin">
              <span class="icon"><i class="fa-solid fa-arrow-right-from-bracket"></i></span>
              <span class="menu-item-label">Log Out</span>
            </a>
          </li>
        </ul>
      </div>
    </aside>

    <section class="is-title-bar">
      <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <ul>
          <li>Staff</li>
          <li>Add Employee</li>
        </ul>
      </div>
    </section>

    <section class="section main-section">
      <div class="card mb-6">
        <div class="card-content">
          <form action="/staff/addStaff" method="POST">
            <div class="field">
              <label class="label">Personal Details</label>
              <div class="field-body">
                <div class="field">
                  <div class="control ">
                    <input class="input" type="text" placeholder="John Doe" name="empname">
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <input class="input" type="email" placeholder="example@mail.com" name="empemail">
                  </div>
                </div>
              </div>
            </div>
            <div class="field">
              <div class="field-body">
                <div class="field">
                  <div class="field addons">
                    <div class="control expanded">
                      <input class="input" type="tel" placeholder="10 Digit Mobile Number" name="phn_num">
                    </div>
                  </div>
                  <p class="help">Do not enter the first zero</p>
                </div>
              </div>
            </div>
            <hr>

            <div class="field">
              <label class="label">Employee Number</label>
              <div class="control">
                <input class="input" type="text" placeholder="Eg: EMP001" name="emp_number">
              </div>
              <p class="help">
                This field is required
              </p>
            </div>

            <div class="field">
              <label class="label">Department</label>
              <div class="control">
                <div class="select">
                  <select name="department">
                    <option value=""></option>
                    <option value="Designer">Designer</option>
                    <option value="Developer">Developer</option>
                    <option value="Marketing">Marketing</option>
                  </select>
                </div>
              </div>
              <p class="help">
                This field is required
              </p>
            </div>

            <div class="field">
              <label class="label">Salary p.a. (INR)</label>
              <div class="control">
                <input class="input" type="number" placeholder="100000" name="salary">
              </div>
              <p class="help">
                This field is required
              </p>
            </div>

            <div class="field">
              <label class="label">Date of Joining</label>
              <div class="control">
                <input type="date" class="input" name="DOjoining"></input>
              </div>
              <p class=" help">
                This field is required
              </p>
            </div>
            <hr>

            <div class="field grouped">
              <div class="control">
                <button type="submit" class="button green">
                  Submit
                </button>
              </div>
              <div class="control">
                <button type="reset" class="button red">
                  Reset
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>

  </div>
</body>

</html>