<!DOCTYPE html>
<html lang="en" class="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MiniSAP | Dashboard</title>
    <!-- Tailwind is included -->
    <link rel="stylesheet" href="/css/admin.css?v=1652870200386">
    <!-- Font Awesome -->
    <link rel="shortcut icon" href="img/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body>
    <div id="app">
        <aside class="aside is-placed-left is-expanded">
            <div class="aside-tools">
                <div>
                    <span class="icon"><i class="fa-solid fa-gem"></i></span>
                    <b class="font-black">MiniSAP</b>
                </div>
            </div>
            <div class="menu is-menu-main">
                <p class="menu-label">General</p>
                <ul class="menu-list">
                    <li class="active">
                        <a href="dashboard">
                            <span class="icon"><i class="fa-solid fa-gauge"></i></span>
                            <span class="menu-item-label">Dashboard</span>
                        </a>
                    </li>
                </ul>
                <p class="menu-label">PROJECT MANAGEMENT</p>
                <ul class="menu-list">
                    <li class="--set-active-forms-html">
                        <a href="/emp/viewproject">
                            <span class="icon"><i class="fa-solid fa-list-check"></i></span>
                            <span class="menu-item-label">View Projects</span>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>

        <section class="is-title-bar">
            <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
                <ul>
                    <li>Employee</li>
                    <li>Dashboard</li>
                </ul>
            </div>
        </section>

        <section class="section main-section">
            <div class="grid gap-6 grid-cols-1 md:grid-cols-3 mb-6">
                <div class="card">
                    <div class="card-content">
                        <div class="flex items-center justify-between">
                            <div class="widget-label">
                                <h3>
                                    Ongoing Projects
                                </h3>
                                <h1>
                                    1
                                </h1>
                            </div>
                            <span class="icon widget-icon text-green-500"><i
                                    class="mdi mdi-account-multiple mdi-48px"></i></span>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="flex items-center justify-between">
                            <div class="widget-label">
                                <h3>
                                    Employees
                                </h3>
                                <h1>
                                    3
                                </h1>
                            </div>
                            <span class="icon widget-icon text-blue-500"><i
                                    class="mdi mdi-cart-outline mdi-48px"></i></span>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content">
                        <div class="flex items-center justify-between">
                            <div class="widget-label">
                                <h3>
                                    Projects Earning
                                </h3>
                                <h1>
                                    $1000
                                </h1>
                            </div>
                            <span class="icon widget-icon text-red-500"><i class="mdi mdi-finance mdi-48px"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>