<h1 align="center">Welcome!</h1>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">


<div class="text-center text-lg-start mt-4 pt-2">
  <a href="/login"> <button type="button" class="btn btn-primary btn-lg"
    style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button></a>
</div>
<div class="text-center text-lg-start mt-4 pt-2">
  <a href="/register"> <button type="button" class="btn btn-primary btn-lg"
    style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</button></a>
</div>