<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<% if(message.length>0) {
    %>
    <center>
        <div class="alert alert-danger">
            <%= message %>
        </div>
    </center>
    <% } %>

    
<title>Register</title>




<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form action="/register" method="post">
                    <!-- Name -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example3">Name</label>
                        <input type="text" id="form3Example3" name="name" class="form-control form-control-lg"
                            placeholder="Enter you name" />
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example3">Email address</label>
                        <input type="email" id="form3Example3" name="email" class="form-control form-control-lg"
                            placeholder="Enter a valid email address" />
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <label class="form-label" for="form3Example4">Password</label>
                        <input type="password" id="form3Example4" name="pass"
                            class="form-control form-control-lg" placeholder="Enter password" />
                    </div>

                    <div class="form-outline mb-3">
                        <label class="form-label" for="form3Example4">Confirm Password</label>
                        <input type="password" id="form3Example4" name="c_pass"
                            class="form-control form-control-lg" placeholder="Enter password" />
                    </div>



                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">Do you have already an account? <a href="/login"
                                class="link-danger">Login</a></p>
                    </div>

                </form>
            </div>
        </div>
    </div>



</section>