body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.label-floating input:not(:placeholder-shown) {
  padding-top: 1.8rem;
}

.label-floating input:not(:placeholder-shown)~label {
  font-size: 0.7rem;
  transition: all 0.2s ease-in-out;
  color: lightgrey;
}

.cta-button {
  background: rgb(80, 61, 224);
  background: linear-gradient(90deg,
      rgba(80, 61, 224, 1) 0%,
      rgba(54, 58, 189, 1) 35%,
      rgba(10, 51, 131, 1) 100%);
}

#signup-form {
  min-width: 350px;
  max-width: 600px;
}

/* Customize the label (the container) */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 22px;
  width: 22px;
  border: 2px solid lightgray;
  border-radius: 5px;
  background-color: white;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked~.checkmark {
  background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #2196f3;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*Adding focus styles on the outer-box of the fake checkbox*/
.checkbox-container input[type="checkbox"]:focus+.checkmark {
  outline: rgb(59, 153, 252) auto 5px;
}